/* Main Elements */

html,
body {
    scroll-behavior: smooth;
}

body {

    display: grid;
    grid-template-columns: auto 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.top {
    --offset: 50px;
    position: sticky;
    bottom: 20px;
    margin-right: 10px;
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    border-radius: 100px;
    white-space: nowrap;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.5;
}

p {
    color: rgb(0, 0, 0, 0.6);
}


/* Sections */

.colored-section {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.white-section {
    background-color: rgb(255, 255, 255);
}

.container-fluid {
    padding: 40px 120px 20px;
}


/* Navigation Bar */

.navbar {
    padding: 0 50px;
    background-color: rgb(33, 33, 33);
    color: rgb(255, 255, 255);
}

.navbar-nav {
    padding: 10px 50px 10px;
}

.nav-item {
    padding: 0 20px;
    text-align: center;
}

.nav-link {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
}


/* Title Section */

#home {
    text-align: center;
    position: relative;
    overflow: hidden;
}

#popup {
    display: inline-block;
    border: 0;
    border-radius: .25em;
    position: relative;
    width: 100%;
    left: 0;
    bottom: 2px;
    background: rgb(33, 33, 33);
    letter-spacing: 0.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    z-index: 3;
    color: rgb(255, 255, 255);
    font-weight: 500
}

#popup:after {
    content: "self-motivated  ||  progress-driven  ||  critical thinker";
    display: inline-block;
    padding: 0.5em;
    font-size: 1.25em;
}

.home-title {
    padding: 150px 200px 270px;
}

.home-img {
    width: 60%;
    border-radius: 2rem;
}

.home-italic {
    font-style: italic;
}

#title .container-fluid {
    padding: 40px 120px 120px;
}

/* About Section */

.about-box {
    margin: 20px auto;
    width: 80%;
    padding: 2%;
    text-align: left;
}

.chemical_plant-img {
    float: left;
    margin-right: 30px;
    width: 35%;
}


/* Work Experience Section */

#work p {
    color: rgb(255, 255, 255);
    line-height: 1.5;
}


/* Timeline */

.timeline {
    margin: 0 auto;
    max-width: 95%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
}

.timeline_component {
    margin: 0 20px 20px 20px;
}

.timeline_date-right {
    text-align: right;
}

.timeline_date-left {
    text-align: left;
}

.timeline_middle {
    position: relative;
    background: rgb(255, 255, 255);
}

.timeline_point {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
}

.timeline_component-bg {
    padding: 1.5em;
    background: rgb(33, 33, 33);
    box-shadow: 0 0 5px rgb(10, 10, 10);
    border-radius: 10px;
}

.timeline_title {
    padding: 0 0 10px 0;
    font-size: 1.25em;
    font-weight: bold;
    text-align: left;
}

.timeline_paragraph {
    text-align: left;
}

.timeline_component-bottom {
    margin-bottom: 0;
}

.timeline_point-bottom {
    top: initial;
    bottom: 0;
}

/* Education Section */

#education .container-fluid,
#qualifications .container-fluid {
    padding: 20px 20px 0px;
    max-width: 80%;
}

.education-box {
    margin: 10px auto;
    padding: 2%;
}

.education-title {
    font-size: 1.25em;
    font-weight: bold;
}

#education p {
    line-height: 1.5;
}

.icon {
    margin-bottom: 1.5rem;
    padding-bottom: 5%;
    font-size: 4rem;
}


/* Pseudo Section */

#education a:link {
    text-decoration: underline;
    font-style: unset;
}

#education a:visited {
    text-decoration: none;
    color: rgb(21, 141, 221);
}

#education a:hover {
    text-decoration: none;
    color: rgb(14, 49, 145);
}

#education a:active {
    text-decoration: underline;
}


/* Skills Section */

.grid {
    margin: 0 auto;
    max-width: 85%;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
}

.skills-table_progress {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.skills-table_progress .skills-table_skills {
    flex: 3.5 0 20%;
}

.skills-table_progress .skills-table_skills {
    text-align: right;
}

.skills-table_progress .progress {
    margin: 10px 10px;
    flex-grow: 5;
    height: 20px;
}


/* Achievements Section */

#achievements p {
    color: rgb(255, 255, 255);
    line-height: 1.5;
}

#achievements .container-fluid,
#languages .container-fluid,
#experience .container-fluid {
    padding: 20px 200px 0px;
}


/* Bullet */

.bullet {
    margin: 0 auto;
    max-width: 60%;
    padding: 20px;
    display: grid;
    grid-template-columns: 3px 1fr;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
}

.bullet_middle {
    position: relative;
}

.bullet_point {
    position: absolute;
    top: 5;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
}


/* License Section */

#license .container-fluid,
#goals .container-fluid {
    padding: 20px 200px 20px;
}


/* Hobbies Section */

.hobbies-img {
    margin: 30px 20px;
    width: 60%;
}

.hobbies-text {
    line-height: 1.5;
}

#hobbies-carousel {
    margin: 10px auto 50px;
}


/* Contact Me */

.contact-message {
    margin: 20px auto 20px;
    width: 50%;
}

#contact .container-fluid {
    padding-bottom: 0px;
}

.contact-box {
    margin: 20px auto;
    line-height: 1;

}


/* Footer Section */

#footer .container-fluid {
    padding-bottom: 0;
}

#footer a {
    color: rgb(14, 49, 145);
    margin: 0px 20px;
    text-decoration: none;
}

#footer a:hover {
    color: rgb(21, 141, 221);
}

.copyright {
    color: rgb(133, 133, 133);
    font-size: 0.75rem;
    padding: 10px 0;
}

.footer-icon {
    margin: 10px 10px;
}


/* start of desktop styles */

@media screen and (max-width: 1366px) {
    /* start of laptops (1366 x 768) */

    /* Main Elements */

    html,
    body {
        scroll-behavior: smooth;
    }

    body {

        display: grid;
        grid-template-columns: auto 0px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }

    .top {
        --offset: 50px;
        position: sticky;
        bottom: 20px;
        margin-right: 10px;
        place-self: end;
        margin-top: calc(100vh + var(--offset));
        /* visual styling */
        text-decoration: none;
        padding: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        background: rgb(0, 0, 0);
        border-radius: 100px;
        white-space: nowrap;
    }

    h1 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 3.5rem;
        line-height: 1.5;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 1.5;
    }

    p {
        color: rgb(0, 0, 0, 0.6);
    }


    /* Sections */

    .colored-section {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    .white-section {
        background-color: rgb(255, 255, 255);
    }

    .container-fluid {
        padding: 20px 50px 20px;
    }


    /* Navigation Bar */

    .navbar {
        padding: 0 20px;
        background-color: rgb(33, 33, 33);
        color: rgb(255, 255, 255);
    }

    .navbar-nav {
        padding: 10px 20px 0;
    }

    .nav-item {
        padding: 0 20px;
        text-align: center;
    }

    .nav-link {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 0.8rem;
    }


    /* Title Section */

    #home {
        text-align: center;
        position: relative;
        overflow: hidden;
    }

    #popup {
        display: inline-block;
        border: 0;
        border-radius: .25em;
        position: relative;
        width: 100%;
        left: 0;
        bottom: 2px;
        background: rgb(33, 33, 33);
        letter-spacing: .1em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-transform: uppercase;
        z-index: 3;
        color: rgb(255, 255, 255);
        font-weight: 500
    }

    #popup:after {
        content: "self-motivated  ||  progress-driven  ||  critical thinker";
        display: inline-block;
        padding: 0.5em;
        font-size: 1.1em;
    }

    .home-title {
        padding: 80px 60px 100px;
    }

    .home-img {
        width: 60%;
        border-radius: 2rem;
    }

    .home-italic {
        font-style: italic;
    }

    #title .container-fluid {
        padding: 40px 120px 50px;
    }

    /* About Section */

    .about-box {
        margin: 20px auto;
        width: 95%;
        padding: 1%;
        text-align: left;
    }

    .chemical_plant-img {
        float: left;
        margin-right: 30px;
        width: 50%;
    }


    /* Work Experience Section */

    #work p {
        color: rgb(255, 255, 255);
        line-height: 1.5;
    }


    /* Timeline */

    .timeline {
        margin: 0 auto;
        max-width: 95%;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
    }

    .timeline_component {
        margin: 0 20px 20px 20px;
    }

    .timeline_date-right {
        text-align: right;
    }

    .timeline_date-left {
        text-align: left;
    }

    .timeline_middle {
        position: relative;
        background: rgb(255, 255, 255);
    }

    .timeline_point {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 15px;
        height: 15px;
        background: rgb(255, 255, 255);
        border-radius: 50%;
    }

    .timeline_component-bg {
        padding: 1.5em;
        background: rgb(33, 33, 33);
        box-shadow: 0 0 5px rgb(10, 10, 10);
        border-radius: 10px;
    }

    .timeline_title {
        padding: 0 0 10px 0;
        font-size: 1.25em;
        font-weight: bold;
        text-align: left;
    }

    .timeline_paragraph {
        text-align: left;
    }

    .timeline_component-bottom {
        margin-bottom: 0;
    }

    .timeline_point-bottom {
        top: initial;
        bottom: 0;
    }

    /* Education Section */

    #education .container-fluid,
    #qualifications .container-fluid {
        padding: 20px 20px 0px;
        max-width: 80%;
    }

    .education-box {
        margin: 10px auto;
        padding: 20px auto;
    }

    .education-title {
        font-size: 1.25em;
        font-weight: bold;
    }

    #education p {
        line-height: 1.5;
    }

    .icon {
        margin-bottom: 1.5rem;
        padding-bottom: 5%;
        font-size: 4rem;
    }


    /* Pseudo Section */

    #education a:link {
        text-decoration: underline;
        font-style: unset;
    }

    #education a:visited {
        text-decoration: none;
        color: rgb(21, 141, 221);
    }

    #education a:hover {
        text-decoration: none;
        color: rgb(14, 49, 145);
    }

    #education a:active {
        text-decoration: underline;
    }


    /* Skills Section */

    .grid {
        margin: 0 auto;
        max-width: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        font-size: 1.25rem;
    }

    .skills-table_progress {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .skills-table_progress .skills-table_skills {
        flex: 3.5 0 20%;
    }

    .skills-table_progress .skills-table_skills {
        text-align: right;
    }

    .skills-table_progress .progress {
        margin: 10px 10px;
        flex-grow: 5;
        height: 20px;
    }


    /* Achievements Section */

    #achievements p {
        color: rgb(255, 255, 255);
        line-height: 1.5;
    }

    #achievements .container-fluid,
    #languages .container-fluid,
    #experience .container-fluid {
        padding: 20px 50px 0px;
        ;
    }

    /* Bullet */

    .bullet {
        margin: 0 auto;
        max-width: 60%;
        padding: 20px;
        display: grid;
        grid-template-columns: 3px 1fr;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        text-align: left;
    }

    .bullet_middle {
        position: relative;
    }

    .bullet_point {
        position: absolute;
        top: 5;
        left: 50%;
        transform: translateX(-50%);
        width: 15px;
        height: 15px;
        background: rgb(255, 255, 255);
        border-radius: 50%;
    }


    /* License Section */

    #license .container-fluid,
    #goals .container-fluid {
        padding: 20px 50px 20px;
    }


    /* Hobbies Section */

    .hobbies-img {
        margin: 30px 20px;
        width: 60%;
    }

    .hobbies-text {
        line-height: 1.5;
    }

    #hobbies-carousel {
        margin: 10px auto 50px;
    }


    /* Contact Me */

    .contact-message {
        margin: 20px auto 20px;
        width: 50%;
    }

    #contact .container-fluid {
        padding-bottom: 0px;
    }

    .contact-box {
        margin: 20px auto;
        line-height: 1;

    }


    /* Footer Section */

    #footer .container-fluid {
        padding-bottom: 0;
    }

    #footer a {
        color: rgb(14, 49, 145);
        margin: 0px 20px;
        text-decoration: none;
    }

    #footer a:hover {
        color: rgb(21, 141, 221);
    }

    .copyright {
        color: rgb(133, 133, 133);
        font-size: 0.75rem;
        padding: 10px 0;
    }

    .footer-icon {
        margin: 10px 10px;
    }

}

@media screen and (max-width: 992px) {
    /* start of large tablet styles */

    /* Main Elements */

    html,
    body {
        scroll-behavior: smooth;
    }

    body {

        display: grid;
        grid-template-columns: auto 0px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }

    .top {
        --offset: 50px;
        position: sticky;
        bottom: 20px;
        margin-right: 10px;
        place-self: end;
        margin-top: calc(100vh + var(--offset));
        /* visual styling */
        text-decoration: none;
        padding: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        background: rgb(0, 0, 0);
        border-radius: 100px;
        white-space: nowrap;
    }

    h1 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 2.25rem;
        line-height: 1.2;
    }

    h2 {
        font-size: 1.6rem;
        line-height: 1.2;
    }

    p {
        color: rgb(0, 0, 0, 0.6);
    }


    /* Sections */

    .colored-section {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    .white-section {
        background-color: rgb(255, 255, 255);
    }

    .container-fluid {
        padding: 20px 50px 20px;
    }


    /* Navigation Bar */

    .navbar {
        padding: 0 5px;
        background-color: rgb(33, 33, 33);
        color: rgb(255, 255, 255);
    }

    .navbar-nav {
        padding: 10px 5px 0;
    }

    .nav-item {
        padding: 0 5px;
        text-align: center;
    }

    .nav-link {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 0.8rem;
    }


    /* Title Section */

    #home {
        text-align: center;
        position: relative;
        overflow: hidden;
    }

    #popup {
        display: inline-block;
        border: 0;
        border-radius: .25em;
        position: relative;
        width: 100%;
        left: 0;
        bottom: 2px;
        background: rgb(33, 33, 33);
        letter-spacing: .1em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-transform: uppercase;
        z-index: 3;
        color: rgb(255, 255, 255);
        font-weight: 500
    }

    #popup:after {
        content: "self-motivated  ||  progress-driven  ||  critical thinker";
        display: inline-block;
        padding: 0.5em;
        font-size: 1.1em;
    }

    .home-title {
        padding: 120px 50px 170px;
    }

    .home-img {
        width: 90%;
        border-radius: 2rem;
    }

    .home-italic {
        font-style: italic;
    }

    #title .container-fluid {
        padding: 30px 120px 50px;
    }

    /* About Section */

    .about-box {
        margin: 20px auto;
        width: 100%;
        padding: 1%;
        text-align: left;
    }

    .chemical_plant-img {
        float: left;
        margin-right: 20px;
        width: 55%;
    }


    /* Work Experience Section */

    #work p {
        color: rgb(255, 255, 255);
        line-height: 1.25;
    }


    /* Timeline */

    .timeline {
        margin: 0 auto;
        max-width: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
    }

    .timeline_component {
        margin: 0 20px 20px 20px;
    }

    .timeline_date-right {
        text-align: right;
    }

    .timeline_date-left {
        text-align: left;
    }

    .timeline_middle {
        position: relative;
        background: rgb(255, 255, 255);
    }

    .timeline_point {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 15px;
        height: 15px;
        background: rgb(255, 255, 255);
        border-radius: 50%;
    }

    .timeline_component-bg {
        padding: 1.5em;
        background: rgb(33, 33, 33);
        box-shadow: 0 0 5px rgb(10, 10, 10);
        border-radius: 10px;
    }

    .timeline_title {
        padding: 0 0 10px 0;
        font-size: 1.25em;
        font-weight: bold;
        text-align: left;
    }

    .timeline_paragraph {
        text-align: left;
    }

    .timeline_component-bottom {
        margin-bottom: 0;
    }

    .timeline_point-bottom {
        top: initial;
        bottom: 0;
    }

    /* Education Section */

    #education .container-fluid,
    #qualifications .container-fluid {
        padding: 20px 0;
        max-width: 100%;
    }

    .education-box {
        margin: 10px auto;
        padding: 20px auto;
        font-size: 0.9rem;
    }

    .education-title {
        font-size: 1.25em;
        font-weight: bold;
    }

    #education p {
        line-height: 1.5;
    }

    .icon {
        margin-bottom: 1.5rem;
        padding-bottom: 5%;
        font-size: 4rem;
    }


    /* Pseudo Section */

    #education a:link {
        text-decoration: underline;
        font-style: unset;
    }

    #education a:visited {
        text-decoration: none;
        color: rgb(21, 141, 221);
    }

    #education a:hover {
        text-decoration: none;
        color: rgb(14, 49, 145);
    }

    #education a:active {
        text-decoration: underline;
    }


    /* Skills Section */

    .grid {
        margin: 0 auto;
        max-width: 100%;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        font-size: 0.5rem;
    }

    .skills-table_progress {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .skills-table_progress .skills-table_skills {
        flex: 3.5 0 20%;
    }

    .skills-table_progress .skills-table_skills {
        text-align: right;
    }

    .skills-table_progress .progress {
        margin: 10px 10px;
        flex-grow: 5;
        height: 15px;
    }

    #skills h5 {
        font-size: 0.9rem;
    }


    /* Achievements Section */

    #achievements p {
        color: rgb(255, 255, 255);
        line-height: 1.5;
    }

    #achievements .container-fluid,
    #languages .container-fluid,
    #experience .container-fluid {
        padding: 10px 0px 0px;
        font-size: 0.9rem;
    }
        
    #achievements h5,
    #languages h5,
    #experience h5 {
        font-size: 0.9rem;
    }


    /* Bullet */

    .bullet {
        margin: 0 auto;
        max-width: 60%;
        padding: 20px;
        display: grid;
        grid-template-columns: 3px 1fr;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        text-align: left;
    }

    .bullet_middle {
        position: relative;
    }

    .bullet_point {
        position: absolute;
        top: 5;
        left: 50%;
        transform: translateX(-50%);
        width: 15px;
        height: 15px;
        background: rgb(255, 255, 255);
        border-radius: 50%;
    }


    /* License Section */

    #license .container-fluid,
    #goals .container-fluid {
        padding: 10px 0px 20px;
    }
    
    #license h5,
    #goals h5 {
        font-size: 0.9rem;
    }


    /* Hobbies Section */

    .hobbies-img {
        margin: 30px 20px;
        width: 80%;
    }

    .hobbies-text {
        line-height: 1.5;
    }

    #hobbies-carousel {
        margin: 10px auto 50px;
    }


    /* Contact Me */

    .contact-message {
        margin: 20px auto 20px;
        width: 70%;
    }

    #contact .container-fluid {
        padding-bottom: 0px;
    }

    .contact-box {
        margin: 20px auto;
        line-height: 1;

    }


    /* Footer Section */

    #footer .container-fluid {
        padding-bottom: 0;
    }

    #footer a {
        color: rgb(14, 49, 145);
        margin: 0px 20px;
        text-decoration: none;
    }

    #footer a:hover {
        color: rgb(21, 141, 221);
    }

    .copyright {
        color: rgb(133, 133, 133);
        font-size: 0.75rem;
        padding: 10px 0;
    }

    .footer-icon {
        margin: 10px 10px;
    }

}


@media screen and (max-width: 768px) {
    /* start of medium tablet styles */

    /* Main Elements */

    html,
    body {
        scroll-behavior: smooth;
    }

    body {

        display: grid;
        grid-template-columns: auto 0px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }

    .top {
        --offset: 50px;
        position: sticky;
        bottom: 20px;
        margin-right: 10px;
        place-self: end;
        margin-top: calc(100vh + var(--offset));
        /* visual styling */
        text-decoration: none;
        padding: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        background: rgb(0, 0, 0);
        border-radius: 100px;
        white-space: nowrap;
    }

    h1 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 2rem;
        line-height: 1.2;
    }

    h2 {
        font-size: 1.4rem;
        line-height: 1.2;
    }

    p {
        color: rgb(0, 0, 0, 0.6);
    }


    /* Sections */

    .colored-section {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    .white-section {
        background-color: rgb(255, 255, 255);
    }

    .container-fluid {
        padding: 15px;
    }


    /* Navigation Bar */

    .navbar {
        padding: 0 5px;
        background-color: rgb(33, 33, 33);
        color: rgb(255, 255, 255);
    }

    .navbar-nav {
        padding: 10px 5px 0;
    }

    .nav-item {
        padding: 0 5px;
        text-align: center;
    }

    .nav-link {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 0.8rem;
    }


    /* Title Section */

    #home {
        text-align: center;
        position: relative;
        overflow: hidden;
    }

    #popup {
        display: inline-block;
        border: 0;
        border-radius: .25em;
        position: relative;
        width: 100%;
        left: 0;
        bottom: 2px;
        background: rgb(33, 33, 33);
        letter-spacing: .1em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-transform: uppercase;
        z-index: 3;
        color: rgb(255, 255, 255);
        font-weight: 500
    }

    #popup:after {
        content: "self-motivated  ||  progress-driven  ||  critical thinker";
        display: inline-block;
        padding: 0.5em;
        font-size: 0.9em;
    }

    .home-title {
        padding: 90px 30px 90px;
    }

    .home-img {
        width: 80%;
        border-radius: 2rem;
    }

    .home-italic {
        font-style: italic;
    }

    #title .container-fluid { 
        padding: 20px 80px 30px;
    }

    /* About Section */

    .about-box {
        margin: 10px auto;
        width: 100%;
        padding: 1%;
        text-align: left;
        line-height: 1.2;
    }

    .chemical_plant-img {
        float: left;
        margin-right: 10px;
        width: 45%;
    }


    /* Work Experience Section */

    #work p {
        color: rgb(255, 255, 255);
        line-height: 1.2;
    }


    /* Timeline */

    .timeline {
        margin: 0 auto;
        max-width: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
    }

    .timeline_component {
        margin: 0 20px 20px 20px;
    }

    .timeline_date-right {
        text-align: right;
    }

    .timeline_date-left {
        text-align: left;
    }

    .timeline_middle {
        position: relative;
        background: rgb(255, 255, 255);
    }

    .timeline_point {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 15px;
        height: 15px;
        background: rgb(255, 255, 255);
        border-radius: 50%;
    }

    .timeline_component-bg {
        padding: 1.5em;
        background: rgb(33, 33, 33);
        box-shadow: 0 0 5px rgb(10, 10, 10);
        border-radius: 10px;
    }

    .timeline_title {
        padding: 0 0 10px 0;
        font-size: 1.25em;
        font-weight: bold;
        text-align: left;
    }

    .timeline_paragraph {
        text-align: left;
    }

    .timeline_component-bottom {
        margin-bottom: 0;
    }

    .timeline_point-bottom {
        top: initial;
        bottom: 0;
    }

    /* Education Section */

    #education .container-fluid,
    #qualifications .container-fluid {
        padding: 20px 0;
        max-width: 100%;
    }

    .education-box {
        margin: 10px auto;
        padding: 20px auto;
    }

    .education-title {
        font-size: 1.25em;
        font-weight: bold;
    }

    #education p {
        line-height: 1.5;
    }

    .icon {
        margin-bottom: 1.5rem;
        padding-bottom: 5%;
        font-size: 4rem;
    }


    /* Pseudo Section */

    #education a:link {
        text-decoration: underline;
        font-style: unset;
    }

    #education a:visited {
        text-decoration: none;
        color: rgb(21, 141, 221);
    }

    #education a:hover {
        text-decoration: none;
        color: rgb(14, 49, 145);
    }

    #education a:active {
        text-decoration: underline;
    }


    /* Skills Section */

    .grid {
        margin: 0 auto;
        max-width: 100%;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        font-size: 0.5rem;
    }

    .skills-table_progress {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .skills-table_progress .skills-table_skills {
        flex: 3.5 0 20%;
    }

    .skills-table_progress .skills-table_skills {
        text-align: right;
    }

    .skills-table_progress .progress {
        margin: 10px 10px;
        flex-grow: 5;
        height: 15px;
    }

    #skills h5 {
        font-size: 0.9rem;
    }


    /* Achievements Section */

    #achievements p {
        color: rgb(255, 255, 255);
        line-height: 1.5;
    }

    #achievements .container-fluid,
    #languages .container-fluid,
    #experience .container-fluid {
        padding: 10px 0px 0px;
        font-size: 0.9rem;
    }

    #achievements h5,
    #languages h5,
    #experience h5 {
        font-size: 1rem;
    }
    
        
    /* Bullet */

    .bullet {
        margin: 0 auto;
        max-width: 90%;
        padding: 15px;
        display: grid;
        grid-template-columns: 3px 1fr;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        text-align: left;
    }

    .bullet_middle {
        position: relative;
    }

    .bullet_point {
        position: absolute;
        top: 5;
        left: 50%;
        transform: translateX(-50%);
        width: 15px;
        height: 15px;
        background: rgb(255, 255, 255);
        border-radius: 50%;
    }


    /* License Section */

    #license .container-fluid,
    #goals .container-fluid {
        padding: 10px 0px 20px;
    }
    
    #license h5,
    #goals h5 {
        font-size: 1rem;
    }


    /* Hobbies Section */

    .hobbies-img {
        margin: 30px 20px;
        width: 70%;
    }

    .hobbies-text {
        line-height: 1.5;
    }

    #hobbies-carousel {
        margin: 10px auto 50px;
    }


    /* Contact Me */

    .contact-message {
        margin: 20px auto 20px;
        width: 80%;
    }

    #contact .container-fluid {
        padding-bottom: 0px;
    }

    .contact-box {
        margin: 20px auto;
        line-height: 1;

    }


    /* Footer Section */

    #footer .container-fluid {
        padding-bottom: 0;
    }

    #footer a {
        color: rgb(14, 49, 145);
        margin: 0px 50px;
        text-decoration: none;
    }

    #footer a:hover {
        color: rgb(21, 141, 221);
    }

    .copyright {
        color: rgb(133, 133, 133);
        font-size: 0.75rem;
        padding: 10px 0;
    }

    .footer-icon {
        margin: 10px 10px;
    }

}


@media screen and (max-width: 582px) {
    /* start of phone styles */

    /* Main Elements */

    html,
    body {
        scroll-behavior: smooth;
    }

    body {

        display: grid;
        grid-template-columns: auto 0px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }

    .top {
        --offset: 50px;
        position: sticky;
        bottom: 20px;
        margin-right: 10px;
        place-self: end;
        margin-top: calc(100vh + var(--offset));
        /* visual styling */
        text-decoration: none;
        padding: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        background: rgb(0, 0, 0);
        border-radius: 120px;
        white-space: nowrap;
    }

    h1 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.2rem;
        line-height: 1.2;
    }

    h2 {
        font-size: 1rem;
        line-height: 1.2;
    }

    p {
        color: rgb(0, 0, 0, 0.6);
    }


    /* Sections */

    .colored-section {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    .white-section {
        background-color: rgb(255, 255, 255);
    }

    .container-fluid {
        padding: 15px;
    }


    /* Navigation Bar */

    .navbar {
        padding: 0 5px;
        background-color: rgb(33, 33, 33);
        color: rgb(255, 255, 255);
    }

    .navbar-nav {
        padding: 0px 5px 0;
    }

    .nav-item {
        padding: 0 5px;
        text-align: center;
    }

    .nav-link {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 0.7rem;
    }


    /* Title Section */

    #home {
        text-align: center;
        position: relative;
        overflow: hidden;
    }

    #popup {
        display: inline-block;
        border: 0;
        border-radius: 0.25em;
        position: relative;
        width: 100%;
        left: 0;
        bottom: 5px;
        background: rgb(33, 33, 33);
        letter-spacing: 0.1em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-transform: uppercase;
        z-index: 3;
        color: rgb(255, 255, 255);
        font-weight: 500
    }

    #popup:after {
        content: "self-motivated  ||  progress-driven  ||  critical thinker";
        display: inline-block;
        padding: 0.5em;
        font-size: 0.7em;
    }

    .home-title {
        padding: 30px 20px 50px;
    }

    .home-img {
        width: 65%;
        border-radius: 1.5rem;
    }

    .home-italic {
        font-style: italic;
    }

    #title .container-fluid {
        padding: 0px 80px 30px;
    }

    /* About Section */

    .about-box {
        margin: 10px auto;
        width: 100%;
        padding: 1%;
        text-align: left;
        line-height: 1.2;
        font-size: 0.9rem;
    }

    .chemical_plant-img {
        float: left;
        margin-right: 10px;
        width: 41%;
    }


    /* Work Experience Section */

    #work .container-fluid {
        font-size: 0.8rem;
    }

    #work p {
        color: rgb(255, 255, 255);
        line-height: 1.2;
    }


    /* Timeline */

    .timeline {
        margin: 0 auto;
        max-width: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
    }

    .timeline_component {
        margin: 0 20px 20px 20px;
    }

    .timeline_date-right {
        text-align: right;
    }

    .timeline_date-left {
        text-align: left;
    }

    .timeline_middle {
        position: relative;
        background: rgb(255, 255, 255);
    }

    .timeline_point {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 15px;
        height: 15px;
        background: rgb(255, 255, 255);
        border-radius: 50%;
    }

    .timeline_component-bg {
        padding: 1.5em;
        background: rgb(33, 33, 33);
        box-shadow: 0 0 5px rgb(10, 10, 10);
        border-radius: 10px;
    }

    .timeline_title {
        padding: 0 0 10px 0;
        font-size: 1.25em;
        font-weight: bold;
        text-align: left;
    }

    .timeline_paragraph {
        text-align: left;
    }

    .timeline_component-bottom {
        margin-bottom: 0;
    }

    .timeline_point-bottom {
        top: initial;
        bottom: 0;
    }

    /* Education Section */

    #education .container-fluid,
    #qualifications .container-fluid {
        padding: 20px 5px;
        max-width: 100%;
    }

    .education-box {
        margin: 10px auto;
        padding: 20px auto;
    }

    .education-title {
        font-size: 1rem;
        font-weight: bold;
    }

    #education p {
        line-height: 1.5;
        font-size: 0.8rem;
    }

    .icon {
        margin-bottom: 1rem;
        padding-bottom: 5%;
        font-size: 2.5rem;
    }


    /* Pseudo Section */

    #education a:link {
        text-decoration: underline;
        font-style: unset;
    }

    #education a:visited {
        text-decoration: none;
        color: rgb(21, 141, 221);
    }

    #education a:hover {
        text-decoration: none;
        color: rgb(14, 49, 145);
    }

    #education a:active {
        text-decoration: underline;
    }


    /* Skills Section */

    .grid {
        margin: 0 auto;
        max-width: 100%;
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        font-size: 0.5rem;
    }

    .skills-table_progress {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .skills-table_progress .skills-table_skills {
        flex: 3.5 0 20%;
    }

    .skills-table_progress .skills-table_skills {
        text-align: right;
    }

    .skills-table_progress .progress {
        margin: 5px 5px;
        flex-grow: 5;
        height: 10px;
    }

    #skills h5 {
        font-size: 0.7rem;
    }


    /* Achievements Section */

    #achievements p {
        color: rgb(255, 255, 255);
        line-height: 1.2;
    }

    #achievements .container-fluid,
    #languages .container-fluid,
    #experience .container-fluid {
        padding: 10px 0px 0px;
        font-size: 0.7rem;
    }

    #achievements h5,
    #languages h5,
    #experience h5 {
        font-size: 0.9rem;
    }


    /* Bullet */

    .bullet {
        margin: 0 auto;
        max-width: 90%;
        padding: 15px;
        display: grid;
        grid-template-columns: 3px 1fr;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        text-align: left;
    }

    .bullet_middle {
        position: relative;
    }

    .bullet_point {
        position: absolute;
        top: 1;
        left: 50%;
        transform: translateX(-50%);
        width: 15px;
        height: 15px;
        background: rgb(255, 255, 255);
        border-radius: 50%;
    }


    /* License Section */

    #license .container-fluid,
    #goals .container-fluid {
        padding: 10px 0px 20px;
    }

    #license h5,
    #goals h5 {
        font-size: 0.9rem;
    }


    /* Hobbies Section */

    .hobbies-img {
        margin: 30px 10px;
        width: 70%;
    }

    .hobbies-text {
        line-height: 1;
        font-size: 1rem;
    }

    #hobbies-carousel {
        margin: 0px auto 50px;
    }


    /* Contact Me */

    .contact-message {
        margin: 20px auto 20px;
        width: 100%;
    }

    #contact .container-fluid {
        padding-bottom: 0px;
    }

    .contact-box {
        margin: 20px auto;
        line-height: 1;

    }


    /* Footer Section */

    #footer .container-fluid {
        padding-bottom: 0;
    }

    #footer a {
        color: rgb(14, 49, 145);
        margin: 0px 20px;
        text-decoration: none;
        font-size: 0.9rem;
    }

    #footer a:hover {
        color: rgb(21, 141, 221);
    }

    .copyright {
        color: rgb(133, 133, 133);
        font-size: 0.75rem;
        padding: 10px 0;
    }

    .footer-icon {
        margin: 10px 10px;
    }

}

@media screen and (max-width: 480px) {
    /* start of phone styles */

    /* Main Elements */

    html,
    body {
        scroll-behavior: smooth;
    }

    body {

        display: grid;
        grid-template-columns: auto 0px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
    }

    .top {
        --offset: 50px;
        position: sticky;
        bottom: 20px;
        margin-right: 10px;
        place-self: end;
        margin-top: calc(100vh + var(--offset));
        /* visual styling */
        text-decoration: none;
        padding: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        background: rgb(0, 0, 0);
        border-radius: 120px;
        white-space: nowrap;
    }

    h1 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.2rem;
        line-height: 1.2;
    }

    h2 {
        font-size: 1rem;
        line-height: 1.2;
    }

    p {
        color: rgb(0, 0, 0, 0.6);
    }


    /* Sections */

    .colored-section {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    .white-section {
        background-color: rgb(255, 255, 255);
    }

    .container-fluid {
        padding: 15px;
    }


    /* Navigation Bar */

    .navbar {
        padding: 0 5px;
        background-color: rgb(33, 33, 33);
        color: rgb(255, 255, 255);
    }

    .navbar-nav {
        padding: 0px 5px 0;
    }

    .nav-item {
        padding: 0 5px;
        text-align: center;
    }

    .nav-link {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 0.7rem;
    }


    /* Title Section */

    #home {
        text-align: center;
        position: relative;
        overflow: hidden;
    }

    #popup {
        display: inline-block;
        border: 0;
        border-radius: 0.25em;
        position: relative;
        width: 100%;
        left: 0;
        bottom: 5px;
        background: rgb(33, 33, 33);
        letter-spacing: 0.1em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-transform: uppercase;
        z-index: 3;
        color: rgb(255, 255, 255);
        font-weight: 500
    }

    #popup:after {
        content: "self-motivated  ||  progress-driven  ||  critical thinker";
        display: inline-block;
        padding: 0.5em;
        font-size: 0.7em;
    }

    .home-title {
        padding: 5px 20px 10px;
    }

    .home-img {
        width: 65%;
        border-radius: 1.5rem;
    }

    .home-italic {
        font-style: italic;
    }

    #title .container-fluid {
        padding: 0px 20px 30px;
    }

    /* About Section */

    .about-box {
        margin: 10px auto;
        width: 100%;
        padding: 1%;
        text-align: left;
        line-height: 1.2;
        font-size: 0.9rem;
    }

    .chemical_plant-img {
        float: left;
        margin-right: 10px;
        width: 50%;
    }


    /* Work Experience Section */

    #work .container-fluid {
        font-size: 0.8rem;
    }

    #work p {
        color: rgb(255, 255, 255);
        line-height: 1.2;
    }


    /* Timeline */

    .timeline {
        margin: 0 auto;
        max-width: 100%;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
    }

    .timeline_component {
        margin: 0 10px 10px 10px;
    }

    .timeline_date-right {
        text-align: right;
    }

    .timeline_date-left {
        text-align: left;
    }

    .timeline_middle {
        position: relative;
        background: rgb(255, 255, 255);
    }

    .timeline_point {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 15px;
        height: 15px;
        background: rgb(255, 255, 255);
        border-radius: 50%;
    }

    .timeline_component-bg {
        padding: 1.1em;
        background: rgb(33, 33, 33);
        box-shadow: 0 0 5px rgb(10, 10, 10);
        border-radius: 10px;
    }

    .timeline_title {
        padding: 0 0 10px 0;
        font-size: 1.25em;
        font-weight: bold;
        text-align: left;
    }

    .timeline_paragraph {
        text-align: left;
    }

    .timeline_component-bottom {
        margin-bottom: 0;
    }

    .timeline_point-bottom {
        top: initial;
        bottom: 0;
    }

    /* Education Section */

    #education .container-fluid,
    #qualifications .container-fluid {
        padding: 10px 5px;
        max-width: 100%;
    }

    .education-box {
        margin: 10px auto;
        padding: 10px auto;
    }

    .education-title {
        font-size: 1rem;
        font-weight: bold;
    }

    #education p {
        line-height: 1.1;
        font-size: 0.8rem;
    }

    .icon {
        margin-bottom: 1rem;
        padding-bottom: 2.5%;
        font-size: 2.5rem;
    }


    /* Pseudo Section */

    #education a:link {
        text-decoration: underline;
        font-style: unset;
    }

    #education a:visited {
        text-decoration: none;
        color: rgb(21, 141, 221);
    }

    #education a:hover {
        text-decoration: none;
        color: rgb(14, 49, 145);
    }

    #education a:active {
        text-decoration: underline;
    }


    /* Skills Section */

    .grid {
        margin: 0 auto;
        max-width: 100%;
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        font-size: 0.5rem;
    }

    .skills-table_progress {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .skills-table_progress .skills-table_skills {
        flex: 3.5 0 20%;
    }

    .skills-table_progress .skills-table_skills {
        text-align: right;
    }

    .skills-table_progress .progress {
        margin: 5px 5px;
        flex-grow: 5;
        height: 10px;
    }

    #skills h5 {
        font-size: 0.7rem;
    }


    /* Achievements Section */

    #achievements p {
        color: rgb(255, 255, 255);
        line-height: 1.2;
    }

    #achievements .container-fluid,
    #languages .container-fluid,
    #experience .container-fluid {
        padding: 10px 0px 0px;
        font-size: 0.7rem;
    }

    #achievements h5,
    #languages h5,
    #experience h5 {
        font-size: 0.9rem;
    }


    /* Bullet */

    .bullet {
        margin: 0 auto;
        max-width: 90%;
        padding: 15px;
        display: grid;
        grid-template-columns: 3px 1fr;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        text-align: left;
    }

    .bullet_middle {
        position: relative;
    }

    .bullet_point {
        position: absolute;
        top: 1;
        left: 50%;
        transform: translateX(-50%);
        width: 15px;
        height: 15px;
        background: rgb(255, 255, 255);
        border-radius: 50%;
    }


    /* License Section */

    #license .container-fluid,
    #goals .container-fluid {
        padding: 10px 0px 10px;
    }

    #license h5,
    #goals h5 {
        font-size: 0.9rem;
    }


    /* Hobbies Section */

    .hobbies-img {
        margin: 30px 10px;
        width: 70%;
    }

    .hobbies-text {
        line-height: 1;
        font-size: 1rem;
    }

    #hobbies-carousel {
        margin: 0px auto 20px;
    }


    /* Contact Me */

    .contact-message {
        margin: 20px auto 20px;
        width: 100%;
    }

    #contact .container-fluid {
        padding-bottom: 0px;
    }

    .contact-box {
        margin: 20px auto;
        line-height: 1;

    }


    /* Footer Section */

    #footer .container-fluid {
        padding-bottom: 0;
    }

    #footer a {
        color: rgb(14, 49, 145);
        text-decoration: none;
        margin: 10px 30px;
        font-size: 1rem;
        text-align: center;
    }

    #footer a:hover {
        color: rgb(21, 141, 221);
    }

    .copyright {
        color: rgb(133, 133, 133);
        font-size: 0.75rem;
        padding: 10px 0;
    }

    .footer-icon {
        margin: 10px 30px;
    }

}

